<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=com.astra.ses.spell.gui.toolbars.StatusControlContribution">
         <toolbar
               id="com.astra.ses.spell.gui.toolbars.contrib.control">
                           
            <control
                  class="com.astra.ses.spell.gui.contrib.SpellControlContribution"
                  id="com.astra.ses.spell.gui.contrib.controlcontribution">
            </control>
			
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
